@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-blue:#130E77;
  --color-skyblue:#2F80E8;
  
}
@keyframes subtleWave {
  0%, 100% {
    clip-path: circle(85% at 100% 100%);
  }
  33% {
    clip-path: circle(90% at 100% 99%);
  }
}

.animate-subtle-wave {
  animation: subtleWave 6s ease-in-out infinite;
}